body{
    margin: 0;
    padding: 0;
    background-color: rgb(22, 23, 23);
}
.contenedor{
    display: grid;
    grid-template-columns: 1fr;
}
.caja1{
    border-radius: 30px;
    background-color:rgb(6, 231, 70);
    height: 200px;
    margin: 2px;
}
.caja2{
    border-radius: 30px;
    background-color: rgba(243, 47, 12, 0.537);
    height: 200px;
    margin: 2px;
}
.caja3{
    border-radius: 30px;
    background-color: rgb(239, 251, 8);
    height: 200px;
    margin: 2px;
}
.caja4{
    border-radius: 30px;
    background-color: rgb(197, 8, 235);
    height: 200px;
    margin: 2px;
}
.caja5{
    border-radius: 30px;
    background-color: rgb(9, 227, 1);
    height: 200px;
    margin: 2px;
}
.caja5{
    border-radius: 30px;
    background-color: cadetblue;
    height: 200px;
    margin: 2px;
}
.caja6{
    border-radius: 30px;
    background-color: rgb(7, 121, 244);
    height: 200px;
    margin: 2px;
}
.caja7{
    border-radius: 30px;
    background-color: rgb(244, 6, 165);
    height: 200px;
    margin: 2px;
}
.caja8{
    border-radius: 30px;
    background-color: rgb(240, 253, 7);
    height: 200px;
    margin: 2px;
}
.caja9{
    border-radius: 30px;
    background-color: rgb(30, 231, 12);
    height: 200px;
    margin: 2px;
}
@media(min-width: 320px) {
    .contenedor { grid-template-columns: 1fr 1fr;
        background-color: chartreuse;}
        @media(min-width: 769px) {
            .contenedor { grid-template-columns: 1fr 1fr 1fr;
                background-color: rgb(254, 11, 165);}